{% extends 'common-layout.html' %}

{% block title %}
Bookluv
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <span class="navbar-nav">
          <h4><a class="nav-link active" href="{{url_for('issue_books')}}">Issue books</a></h4>
        </span>
      </div>
    </div>
</nav>
<h1>Librarian Dashboard Page</h1><br><br>
<h2>Sections</h2><br><br>
<table border="1" class="center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in Section %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.section_name}}</td>
            <td>{{i.date_created}}</td>
            <td>{{i.description}}</td>
            <td>
                #
                <a href="{{url_for('open_section', id=i.id)}}">
                    Open
                </a>
                #
                <a href="{{url_for('edit_section', id=i.id)}}">
                    Edit
                </a>
                #
                <a href="{{url_for('delete_section', id=i.id)}}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a style="display:block;text-align:center" href="{{url_for('add_section')}}">
    +Add Section
</a>
{% endblock %}

{% block styling %}
<style>
    table, th, td {
        border: 3px solid black;
      }
      h2, table {
        text-align: center;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
      }
</style>
{% endblock %}