{% extends 'common-layout.html' %}

{% block title %}
Bookluv
{% endblock %}

{% block content %}
<div class="register">
<h1>Registration Page</h1><br><br>
<form method="POST" action="/register">
    Name : 
    <input type="text" name="name" id="name" required><br><br>
    Username : 
    <input type="text" name="username" id="username" required><br><br>
    Password:
    <input type="password" name="password" id="password" required><br><br>
    <input type="submit">
</form>
</div>
{% endblock %}

{% block styling %}
<style>
    .register{margin-top: 100px;
        justify-content: center;
        text-align: center;
        border: 3px solid black;}

    h1{text-align: center;
        justify-content: center;}
</style>
{% endblock %}